[submodule "third_party/sqlite_orm"]
	path = third_party/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm.git

[submodule "third_party/sqlite"]
	path = third_party/sqlite
	url = https://github.com/azadkuh/sqlite-amalgamation.git

[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
